{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="24610FB5D14CFD8FC222B5A8B2AE3FFC" />
    <meta name="google-site-verification" content="eXFKebJoUCzlqadFiN8rfrWv9_qGKq6iP-IFUREkfnI" />
    <meta name="description" content="Activate your MyCigna.com secure member portal today with quick steps, safe login help, and easy registration for new members in 2025. Get secure access now.">
    <meta name="keywords" content="mycigna.com activate, activate mycigna secure member portal, mycigna login help, secure mycigna member account, how to register mycigna, mycigna activation code, mycigna member portal setup 2025">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
